table, tr, td{
    border:1px solid black;
}
td{
    height:50px;
    width:50px;
    color:#8040c0;
    font-weight:bold;
    font-family: sans-serif;
    font-size:8pt;
}
#wanderer{
    height:30px;
    width:30px;
    position:absolute;
}
