table, tr, td{
    border:1px solid black;
}
td{
    height:50px;
    width:50px;
    color:#8040c0;
    font-weight:bold;
    font-family: sans-serif;
    font-size:8pt;
}
#wanderer{
    height:30px;
    width:30px;
    position:absolute;
}
@font-face {
    font-family: 'handwriting'; /*a name to be used later*/
    src: url('DillyDally.ttf'); /*URL to font*/
}
img:not(#wanderer){
    height:49px;
    width:49px;
}
#player{
    height:10px;
    width:10px;
}
